@import "tailwindcss";

@theme {
    --color-primary: #029de3;
    --color-scecondary: #bae6fd;
    --color-tertiary: #e0f2fe;

    --color-redColor: #fb2c36;
    --color-whiteColor: #FFFFFF;

    --color-lightGrayColor: #e5e7eb;
}

@font-face {
    font-family: "Arimo";
    src: url("./assets/fonts/Arimo-Regular.ttf") format("truetype");
}

* {
    font-family: "Arimo";
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}